@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('./files/IRANSansWeb_UltraLight_FaNum.eot');
  src: url('./files/IRANSansWeb_UltraLight_FaNum.eot?#iefix') format('embedded-opentype') /* IE6-8 */,
    url('./files/IRANSansWeb_UltraLight_FaNum.woff2') format('woff2') /* FF39+,Chrome36+, Opera24+*/,
    url('./files/IRANSansWeb_UltraLight_FaNum.woff') format('woff') /* FF3.6+, IE9, Chrome6+, Saf5.1+*/,
    url('./files/IRANSansWeb_UltraLight_FaNum.ttf') format('truetype');
}
