@font-face {
  font-family: ./files/IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('./files/IRANSansWeb_Medium.eot');
  src: url('./files/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype') /* IE6-8 */,
    url('./files/IRANSansWeb_Medium.woff2') format('woff2') /* FF39+,Chrome36+, Opera24+*/,
    url('./files/IRANSansWeb_Medium.woff') format('woff') /* FF3.6+, IE9, Chrome6+, Saf5.1+*/,
    url('./files/IRANSansWeb_Medium.ttf') format('truetype');
}
